// Color Variables
// $color-primary: #9fe992;
// $color-secondary: #55c57a;

// Font Variables
$font-nunito: "Nunito", sans-serif;
$font-ubuntu: "Ubuntu", sans-serif;
$font-varela_round: "Varela Round", sans-serif;
