.portfolio-sec {
  background-color: rgb(8, 8, 8);
  color: #fff;
  border-top: 1px solid grey;
}

.portfolio-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  p {
    color: rgb(61, 123, 236);
    font-size: 1.5rem;
  }
}

.portfolio {
  padding: 5rem 5rem;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-gap: 10rem;

  :hover {
    transform: translateY(-1rem) scale(1);
    transition: transform 0.3s;
  }
}

.project {
  box-shadow: -15px 15px 15px rgba(240, 233, 233, 0.3);

  justify-self: center;
  background-color: rgb(12, 12, 12);

  display: grid;
  grid-template-columns: repeat(2, 1fr);

  &__img {
    width: 100%;
    grid-column: 1 / -1;
    z-index: 1;
    // border-radius: 2rem;
  }

  &__name {
    font-size: 1.6rem;
    grid-column: 1 / -1;
    width: 80%;
    text-align: center;
    padding: 1.25rem;
    background-color: rgb(29, 29, 88);
    color: wheat;
    font-weight: 600;
    justify-self: center;
    transform: translateY(-50%);
    z-index: 3;
    border-radius: 10px;
    height: 5rem;
  }

  &__name:hover {
    color: white;
    font-size: 1.6rem;
    grid-column: 1 / -1;
    width: 80%;
    text-align: center;
    padding: 1.25rem;
    background-color: rgb(29, 29, 88);
    color: wheat;
    font-weight: 600;
    justify-self: center;
    transform: translateY(-50%);
    z-index: 3;
    border-radius: 10px;
    height: 5rem;
  }

  &__details {
    font-size: 1.5rem;
    grid-column: 1 / -1;
    width: 90%;
    justify-self: center;
    text-align: center;
    transform: translateY(-8%);
  }
}
