//Skills section starts here

.section-skills {
  background-color: rgb(8, 8, 8);
  // border: 2px solid green;
  color: aliceblue;
}

.skills-heading {
  display: flex;
  justify-content: center;
}

.skills {
  // height: 60%;
  // margin: 10rem 0;
  padding: 5rem 5rem;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-gap: 10rem;
}

.skill {
  display: flex;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-content: center;
  justify-self: center;

  width: 160px;
  height: 160px;
  /* background: cornflowerblue; */
  position: relative;
  margin: 2rem 0rem;
}

.skill-boxes {
  // border: 2px solid orange;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.outer {
  height: 160px;
  width: 160px;
  border-radius: 50%;
  /* border: 1px solid red; */
  padding: 20px;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
}

.inner {
  height: 120px;
  width: 120px;
  /* border: 1px solid red; */

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
    inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
    -0.5px -0.5px 0px rgba(255, 255, 255, 1),
    0.5px 0.5px 0px rgba(0, 0, 0, 0.15), 0px 12px 10px -10px rgba(0, 0, 0, 0.05);
}

.number_text {
  font-weight: 900;
  color: #555;
  font-size: 2.5rem;
}

svg {
  position: absolute;
  top: 0;
  left: 0;
}

.circle_html {
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 20px;
  stroke-dasharray: 472;
  stroke-dashoffset: 472;
  animation: anim_1 2s linear forwards;

  @keyframes anim_1 {
    100% {
      stroke-dashoffset: 150;
    }
  }
}
.circle_css {
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 20px;
  stroke-dasharray: 472;
  stroke-dashoffset: 472;
  animation: anim_2 2s linear forwards;

  @keyframes anim_2 {
    100% {
      stroke-dashoffset: 180;
    }
  }
}
.circle_sass {
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 20px;
  stroke-dasharray: 472;
  stroke-dashoffset: 472;
  animation: anim_3 2s linear forwards;

  @keyframes anim_3 {
    100% {
      stroke-dashoffset: 180;
    }
  }
}
.circle_JavaScript {
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 20px;
  stroke-dasharray: 472;
  stroke-dashoffset: 472;
  animation: anim_4 2s linear forwards;

  @keyframes anim_4 {
    100% {
      stroke-dashoffset: 220;
    }
  }
}
.circle_react {
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 20px;
  stroke-dasharray: 472;
  stroke-dashoffset: 472;
  animation: anim_5 2s linear forwards;

  @keyframes anim_5 {
    100% {
      stroke-dashoffset: 300;
    }
  }
}
.circle_angular {
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 20px;
  stroke-dasharray: 472;
  stroke-dashoffset: 472;
  animation: anim_6 2s linear forwards;

  @keyframes anim_6 {
    100% {
      stroke-dashoffset: 435;
    }
  }
}
